/* DEFAULT */

/* Para la accesivilidad, un botón oculto que salta el menú y va al contenido */
.contentGo {
    display: none;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* para footer */
    position: relative;
    width: 100%;
}

body {
    /*equivalente a la altura que le demos al footer 10em*/
    /* sumamos altura del boton que vuelve al menú*/
    margin: 0 0 25.43em 0;
    /*tamaño del font que podrá ser cambiado por el ususario y que será la medida de referencia en todos los elementos hijos con la unidad em*/
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    /* interlinea de 1.5 para asegurar legibilidad*/
    line-height: 1.5em;
    color: #000078;
}

main {
    width: 100%;
}

h1 {
    font-size: 5em;
    line-height: 1.5em;
    margin: 0;
    font-family: 'Merriweather', serif;
}

h2 {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0 0 2em 0;
}

/* HEADER */

header {
    /*contiene la imagen UOC*/
    /*alto cuatro veces el txt del menú, 4 * 1.43em*/
    height: 5.72em;
    float: left;
    clear: left;
    /*margen superior del font-size heredado 1em = 14 px*/
    /*margen lateral izquierdo*/
    margin: 1em 0 0 15%;
}

header img {
    /*adapto la img a la altura del header, 5.72em*/
    height: 100%;
}

/* NAV */

nav {
    float: right;
    padding: 0;
    /*margen superior del fontsize heredado 1em = 14 px*/
    /*margen lateral derecho*/
    margin: 1em 15% 0 0;
}

nav ul {
    /*alto 4m junto con height nav ul li 2.715em*/
    /*centro el txt en vertical respecto a la imagen*/
    padding: 1.285em 0 0 0;
    margin: 0;
    list-style: none;
    /*aumento los 14 px heredados en unidades em, 20px*/
    font-size: 1.43em;
}

nav ul li {
    /*alto 4m junto con padding nav ul 1em*/
    /*centro el txt en vertical respecto a la imagen*/
    height: 2.715em;
    float: left;
    /*separo el txt*/
    margin: 0 0 0 1em;
    /*bold*/
    font-weight: 700;
}

nav ul li a {
    text-decoration: none;
    color: #000078;
}

nav ul li a:hover {
    border-bottom: 1.5px solid #73EDFF;
}

.active {
    border-bottom: 1.5px solid #FFE000;
}

.active:hover {
    border-bottom: 1.5px solid #FFE000;
}

/* INDEX */
/* MAIN */

section {
    clear: both;
    padding: 5em 15% 5em 15%;
    margin: 0;
    overflow: visible;
}

/* SECTION 1 */

.Grid1 {
    width: 50%;
    /*separo del video el txt*/
    padding: 0 5% 0 0;
    box-sizing: border-box;
    float: left;
    clear: left;
}

.section1Title {
    display: block;
    width: 80%;
    margin-right: 20%;
    box-sizing: border-box;
    font-size: 5em;
    line-height: 1.5em;
    font-family: 'Merriweather', serif;
    margin: 0;
}

.txtGrid1 {
    width: 80%;
    margin-right: 20%;
    box-sizing: border-box;
    /* 32px */
    font-size: 2.14em;
    line-height: 1.5em;
}

.buttonIndex {
    background-color: #FFE000;
    /* 18px */
    font-size: 1.3em;
    border: none;
    border-radius: 8px;
    padding: 1em;
    margin-top: 1em;
}

.Grid2 {
    width: 50%;
    clear: right;
    /* referencia para iframe que es absolute */
    position: relative;
    /* ( 50 / ( 16/9 )) - para obtener la proporción 16:9*/
    padding-bottom: 28.125%;
    height: 0;
    overflow: hidden;
}

.Grid2 iframe {
    /* Quedará en el interior del div que lo contiene */
    position: absolute;
    top: 0;
    left: 0;
    /* ocupará el 100% en cambos lados del div contenedor */
    width: 100%;
    height: 100%;
}

/* SECTION 2 */

#enCifras {
    float: left;
    width: 100%;
    box-sizing: border-box;
    background-color: #F0F0F0;
    font-size: 2em;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    padding: 3em;
}

.content3 {
    /* no ocupará el 100% de section */
    width: 70%;
    /* lo centro */
    margin: auto;
}

.grid3 {
    /* ocupará 1/3 del div content3 */
    width: 33.33%;
    float: left;
}

.numberIcon {
    /* 20px */
    font-size: 1.43em;
}

.fa-newspaper,
.fa-download,
.fa-users {
    font-size: 4em;
}

/* SECTION 3 */

.list h2 {
    text-align: center;
    padding: 0 0 2em 0;
    margin: 0;
    /* 42px */
    font-size: 3em;
}

section > ul {
    list-style: none;
    padding: 0;
    margin: auto;
    width: 80%;
}

section > ul > li {
    padding: 2em;
    margin-bottom: 1em;
    border-bottom: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    /* 28px */
    font-size: 2em;
    line-height: 1.5;
}

.listBold {
    font-weight: 700;
}

#envoltorio,
#envoltorio2 {
    float: left;
    position: relative;
    overflow: visible;
    /* para centrar el elemento */
    left: 50%;
}

#clear {
    clear: left;
}

#back a,
#back a:visited {
    float: left;
    position: relative;
    /* para centrar el elemento */
    left: -50%;
    display: block;
    margin: auto;
    padding: 1em;
    text-align: center;
    font-size: 1.43em;
    background-color: #000078;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 2em;
}

/* PUBLICATION TABLE*/

caption {
    /* Para la accesibilidad */
    display: none;
}

#publications {
    clear: both;
    /* no ocupará el 100% de section */
    width: 70%;
    margin: auto;
}

#lastTab {
    width: 100%;
    margin: 3em 0;
    /* para eliminar los espacios entre bordes */
    border-collapse: collapse;
    text-align: center;
    /* 20px */
    font-size: 1.43em;
}

#lastTab th {
    /* 18px */
    font-size: 1.23em;
    margin: 1em 0 1em 0;
    font-weight: 400;
    border-bottom: 2px solid #000078;
    border-top: 2px solid #000078;
    padding: 1em 0;
}

#lastTab i {
    font-size: 1.23em;
}

#lastTab td {
    border-bottom: 2px solid #000078;
    border-top: 2px solid #000078;
    padding: 1em 1em;
    line-height: 1.5;
}

#lastTab tbody > tr:nth-child(odd) {
    background-color: #F0F0F0;
}

#lastTab tbody > tr:nth-child(even) {
    background-color: #D0D0D0;
}

#lastTab a {
    text-decoration-style: dotted;
    color: #000078;
}

.titleTab {
    display: block;
    margin-top: 0.5em;
}

/* PUBLICATION FORM*/

.titleF {
    padding: 1em 0 0.5em 0;
    display: block;
    margin: auto;
    text-align: center;
    /* 24px */
    font-size: 1.71em;
    font-family: 'Merriweather', serif;
}

.formPublic {
    /* 18px */
    font-size: 1.23em;
    font-family: 'Lato', sans-serif;
}

legend {
    /* Para la accesibilidad */
    display: none;
}

.formPublic ul {

    padding: 0;
    margin: 0;
}

.formPublic li {
    list-style: none;
    /* cuadrícula de texto */
    padding: 1em 1em 0 1em;
    clear: both;
    height: 2em;
    margin: 0;
}

.formPublic label {
    /* para centrar el contenido */
    width: 50%;
    float: left;
    clear: left;
    text-align: right;
    padding: 0 1em 0 0;
    font-weight: 700;
    overflow: auto;
}



.formPublic input {
    /* cuadrícula de texto */
    height: 1em;
    border: none;
    color: #000078;
    font-size: 1em;
    /* 2px - respecto a los 18px de ul - 1.23/18 */
    padding: 0.137em;
    line-height: 1em;
}

textarea {
    /* 4 filas - respecto a los 18px de ul - 1.23*4*/
    height: 4.92em;
    border: none;
    padding: 0;
    margin-bottom: 0.5em;
}

select {
    display: block;
    float: left;
    height: 1.43em;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    border: none;
    color: #000078;
    margin: 0;
}

input,
textarea {
    /* para centrar el contenido */
    display: block;
    float: left;
    overflow: hidden;
    font-size: 1em;
}

fieldset {
    margin: 1em 0 0 0;
    border: none;
    padding: 1em;
    background-color: #F0F0F0;
    border-radius: 25px;
}

#inputFile {
    border: none !important;
    width: 20em
}

.chooseBox {
    margin: 0;
    padding: 0;
}

.chooseBox label {
    margin-right: .5em;
    padding-right: 0;
}

.chooseBox .inputRadio {
    margin-right: 0.5em;
}

.chooseBox label,
.inputRadio {
    /* para centrar el contenido y alinearlo */
    width: auto;
    display: inline;
    float: none;
}

::placeholder {
    color: #D0D0D0;
    font-size: 0.75em;
    padding-left: 0.25em;
}

.medium {
    width: 10em;
}

.large {
    width: 20em;
}

fieldset a {
    text-decoration-style: dotted;
    text-decoration: underline;
    color: #000078;
}

#send,
#reset {
    float: left;
    position: relative;
    /* para centrar los dos botones */
    left: -100%;
    display: block;
    margin: 2em 1em 0 1em;
    padding: 1em;
    height: auto;
    text-align: center;
    font-size: 1.43em;
    background-color: #FFE000;
    color: #000078;
    border-radius: 10px;
    margin-bottom: 2em;
}

#send:hover,
#reset:hover {
    background-color: #000078;
    color: #FFE000;
}

/* sticky FOOTER */

footer {
    width: 100%;
    /* Esta altura será agregada al margen inferior del body */
    height: 10em;
    position: fixed;
    bottom: 0;
    background-color: #D0D0D0;
    color: #000078;
    border-top: 2px solid #73EDFF;
    font-size: 1.5em;
    box-sizing: content-box;
}

.foot {
    display: block;
    text-align: center;
    margin: 2em 0 2em 0;
}
